a {
    color: white;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-decoration: none;
    &:hover {
        font-weight: bold;
    }
}

.top-nav-link {
    padding-bottom: 0.2rem;
    color: $nav-text; // text-transform: uppercase;
    &:hover {
      //  border-bottom: 1px solid $nav-text;
    }
}

.top-nav-link-container {
    margin-right: 3rem;
    &:last-child {
        margin-right: 0;
    }
}

.basic-link {
    padding: 1rem;
    color: $nav-text; // font-weight: bold;
    text-transform: lowercase;
}

.links-box {
    display: inline-block;
    padding: 2rem; // border: 1px solid white;
    background-color: rgba(white, 0.6);
}